<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
	<head>
		<meta name=”robots” content=”noindex, nofollow”>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="DESCRIPTION" CONTENT="Reinald Functional Art">
		<meta name="KEYWORDS" CONTENT="art,functionalart,arte,artefuncional,wood,madera,design,diseño">
		<meta name="author" content="Reinald Van De Walle">
		<link rel="icon" href="favicon.ico">
		<title>Reinald Arte Funcional</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

		<link href="/css/style.css" rel="stylesheet">

		<link rel="stylesheet" href="/components/magnific/magnific-popup.css">

		<link rel="shortcut icon" href="/favicon.ico">

	</head>
<body>
  <div class="row text-center small-spacer">
		<div style="font-weight: 600; font-size: larger" class="col-sm-12">
      ¡Épale!<br><br>No puedo encontrar lo que buscas (404).<br><br>
        Pulsa <a href="/">aquí</a> para ir a la página principal.<br><br>
        <a href="/"><img class="img-responsive center-block" src="/images/404.jpg"></img></a>
		</div>
  </div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
